@page "/contactus"
<h3 class="text-uppercase ">Contact Us</h3>
<hr />
<ul>
    <li><h5 class="text-primary ">Rccg Strong Tower Parish</h5></li>
    <li> <h5 class="text-primary ">081-5252-7700</h5> </li>
</ul>

  

@code {

}
